/* ========================
        common css start
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    width:1200px;
    margin: 0 auto;
}
/* ========================
        common css end
===============================*/









/* ========================
        Banner part start
===============================*/

#header_part{
background-image: url('../images/banner/banner1.png');
background-size: cover;
background-repeat: no-repeat;
background-position:center;
padding:200px 0;
}


.banner_details{
    display: flex;
    justify-content: end;
    text-align: end;
}
.banner_doc{
    width:500px;
    font-family: 'Work Sans', sans-serif;
}
.banner_doc h1{
    font-size: 65px;
    font-weight: 700;
    color:#151414
}
.banner_doc p{
    font-size: 16px;
    line-height: 26px;
    font-weight:400;
    padding:40px 0 60px 0;
}
.banner_btn a{
    color:white;
    padding:20px 25px;
    background-color: #F15B22;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
/* ========================
        Banner part end
===============================*/











/* ========================
         Failures part start
===============================*/
#failures_part{
    padding:80px 0;
}
.failures_items{
    display: flex;
    justify-content:space-around;
}
.failures_items .failures_images{
    width:570px;
    height: 730px;
}
.failures_items .failures_images img{
    width:100%
}
.failures_details{
    margin-top: 230px;
    width:415px;
    font-family: 'Work Sans', sans-serif;
}
.failures_details h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
}.failures_details p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}
.check_images{
    width:20px;
    height: 20px;
    display: inline-block;
}
.check_images img{
    width:100%
}


/* ========================
         Failures part end
===============================*/














/* ========================
        my plane part start
===============================*/
#plane_part{
    padding: 40px 0;
}
.plane_details{
    font-family: 'Work Sans', sans-serif;
}
.plane_details h2{
    padding:50px 0 30px 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;   
}
.plane_items{
    text-align: center;
    width:23%;
    height: auto;
    padding: 40px 0;
}
.plane_items img{
    width: 95px;
    height: 95px;

}
.plane_items h3{
    font-size: 28px;
    font-weight: 700;
    margin:15px 0 10px 0;
}
.plane_items p{
    font-size: 20px;
    font-weight: 500;
    color:#737272;
}
.plane_parents{
    display: flex;
    justify-content: space-between;
}
/* ========================
        my plane part end
===============================*/













/* ========================
         Gradient part start
===============================*/
#gradient_part{
    padding:80px;
}
.gradient_box{
    width:100%;
    height: 300px;
    position: relative;
    overflow:hidden;
    border-radius: 10px;
}
.gradient_images img{
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient_details{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(to right,#F15B22, #f15d222e);
}

.gradient_details h3{
    margin:70px 0 0 80px;
    font-family: 'Work Sans', sans-serif;
    max-width: 500px;
}
.gradient_details a{
    margin:70px 0 0 80px;
    font-family: 'Work Sans', sans-serif;
    max-width: 500px;
}
.gradient_details h3{
   font-size: 40px;
   font-weight: 700;
   color:#ffffff;
   line-height: 47px;
   margin-bottom: 40px;
}

.gradient_details a{
    font-size: 20px;
    font-weight:600;
    color:#F15B22;
    padding:12px 25px;
    background-color: #ffffff;
    border-radius: 5px;
    
 }
/* ========================
         Gradient part end
===============================*/











/* ========================
        
===============================*/


/* ========================
        
===============================*/
















/* ========================
        footer part start
===============================*/
#footer_part{
    background-color: #151414;
    padding:120px 0;
}
.footer_items{
    font-family:'Work Sans', sans-serif ;
    color:#ffffff
}
.future_details{
    width: 500px;
}
.future_title h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.future_title p{
    font-size: 16px;
    font-weight: 400;
    line-height:26px ;
    margin-bottom: 20px;
    color:#adadad
}

.future_social ul li{
    display: inline-block;
    margin-right: 15px;
}
.footer_items{
    display: flex;
    justify-content: space-between;
    font-family:'Work Sans', sans-serif ;
}
.footer_items h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px;
    color:#ffffff
}
.subscribe_part input{
    padding: 15px 25px;
    background-color: transparent;
    border: solid 1px #919191;
    border-radius: 5px;
    margin-bottom: 30px;
    color:#ffffff

}

::placeholder{
    color:#ffffffd6
}

.footer_btn a{
    background-color: #ffffff;
    color:#F15B22;
    padding:12px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
   
}
/* ========================
        footer part end
===============================*/